/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@font-face {
    font-family: "RuneScape UF";
    src: url("//db.onlinewebfonts.com/t/4c8754090a7936fac2f8c5f3043db9ee.eot");
    src: url("//db.onlinewebfonts.com/t/4c8754090a7936fac2f8c5f3043db9ee.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4c8754090a7936fac2f8c5f3043db9ee.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4c8754090a7936fac2f8c5f3043db9ee.woff") format("woff"), url("//db.onlinewebfonts.com/t/4c8754090a7936fac2f8c5f3043db9ee.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4c8754090a7936fac2f8c5f3043db9ee.svg#RuneScape UF") format("svg");
}


body {
    margin: 0 !important;
    margin-top:15px;
    padding: 0 !important;
    background-color: #030D16;
    //font-family: 'RuneScape UF', "regular";
    color: white;
    // background-image: image-url("bandos_pet.png");
}

/*nav bar*/
.navContainer {
    display: flex;
    position: relative;
    margin: 0 !important;
    border-image: 
    linear-gradient(
      to bottom, 
      white, 
      rgba(0, 0, 0, 0)
    ) 2 100%;
    background-color: #0c1c2B;
    border-width: 3px;
    border-style: solid;
    //border-color: black;
    
    //border: 3px solid rgba(0, 0, 0, 0.12);
    //box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.46), inset 0 0 1px 0 #000;
    //border-radius: 0px;
   // border-style: solid;
    //border-width: 1px;
}

.navObject {
    padding: 15px;
    margin-top:0%;
    width: 100px;
    height: 100%;
    display: inline;
    text-align: center;
}

.navObject a {
    text-decoration: none;
    color: white;
}

.navObject:hover:not(.active) {
    width: 100px;
    color: #171C26;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.navObject:first-child {
    margin-right: auto;
}

.link-to-text-color {
    text-decoration: none !important;
    color: #526174 !important;
}

.offlineWebsiteSection {
    flex: 0 0 28%;
    margin: auto;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    background-color: #edf0f5;
    width: 100%;
    color: yellow;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.myChartDiv {
    max-width: 100%;
    max-height: 400px;
}
//<!-- application development area -->
// .serverStatus{
//   display: flex;
//   flex-direction: row;
//   width: 100%;
//   flex-wrap: wrap;
// }
// .serverBlock{
//   margin: 10px;
//   flex-grow: 0;
//   padding:10px 50px 10px 50px ;
//   display: flex;
//   //#526174
//   //#ff4858
 
//   //box-shadow:3px 3px 10px 0px #526174;
//   border-left:3px solid;
//   // border-radius: 5px;
//    border-color:#ff4858;
//   // border-top:1px solid;
//    border-radius: 5px;
//   // border-color: #ff4858;
 

  
//   font-size: 1.5vw;
//   width: 100%;
//   //text-shadow: 1px 1px 3px grey;
//   background-color: #0c1c2b;
// }
// .flexcard_element_row div{
//   width:16vw;
//   flex-grow: 1;
  
//   padding:0.5vw;
// }
// .flexcard_element_row{
//   display: flex;
//   overflow-x: hidden;
  
//   padding-bottom: 0.5vw;
// }
// .flexcard_element_row div:first-child{
//   margin-right:auto;
// }
// .flexcard_element_row div:last-child{
//   text-align: right;
// }
// .uptime{
//   background:linear-gradient(90deg, rgba(255,183,188,1) 60%, rgba(255,183,188,0) 00%);
//   border: 1px solid;
//   border-color: rgba(255,183,188,1);
//   padding-left: 15px;
// }
// .flex_grow_1{
//   flex-grow: 1;
// }
// .flex_grow_2{
//   flex-grow: 2;
// }
// .flex_grow_3{
//   flex-grow: 3;
// }
// .flex_grow_4{
//   flex-grow: 4;
// }
.serverStatus{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.address_container{
  display: flex;
  flex-direction: row;
  width: 100%;
  font-size: 1vmax;
  
}
.address_element div{

}
.address_element{
  display: flex;
  flex-grow: 1;
  text-align: left;
  background-color: #0c1c2b;
  margin: 5px;
  padding: 5px 20px 5px 20px;
  border: 1px solid;
  color: #526174;
}
.address_element_data{
  flex-grow: 1;
}
.flex_grow_site_address{
  flex-grow: 2;
}
.online_color{
  color:greenyellow;
}