/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    margin: 0% !important;
    font-family: 'segoe ui';
    background-color: #edf0f5;
}

/*nav bar*/
.navContainer {
    display: flex;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);
    background-color: #9AA9C3;
}

.navObject {
    padding: 15px;
    width: 100px;
    height: 100%;
    display: inline;
    text-align: center;
}

.navObject a {
    text-decoration: none;
    color: #FFFFFF !important;
}

.navObject:hover:not(.active) {
    width: 100px;
    color: #171C26;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
    border-radius: 5px;
}

.navObject:first-child {
    margin-right: auto;
}
.link-to-text-color {
    text-decoration: none !important;
     color:#A3A2C0 !important; 
    }
    .offlineWebsiteSection{
        flex: 0 0 28%;
  margin: auto;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  background-color: #edf0f5;
  width: 100%;
  color: #A3A2C0;
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.myChartDiv {
    max-width: 100%;
    max-height: 400px;
}