<!--Graph Monitor Section -->
<%clockTicker = Time.now.to_i%>
<%clockTicker -= 3600%>


<%graphData = Array.new(@sites.length){Array.new(0)}%>
<%sitecounter = 0%>

<%@sites.each do |site|%>
<%tempcounter=0%>
<!-- Checks to see if the site is under maintenance-->
  <%if site.maintenance== false%>
  <%else%>
    <% @networkpages.each do |networkpage| %>
      <%if networkpage.creation.to_i > clockTicker%>
        <%if site.address == networkpage.address%>
          <%graphData[sitecounter].push(networkpage.relaytime)%>
          <%tempcounter+=1%>
        <%end%>
      <%end%>
    <%end%>
     <%sitecounter += 1%>
  <%end%>
<%end%>
<div class="cardContainerNetwork">
	<div class="cardBlockNetwork">
		<div class="cardTitleNetwork">Websites</div>
      <div class="cardContentNetwork">
        <table id="networkPages-chart" class="charts-css area show-labels show-primary-axis ">
          <thead>
            <tr>
              <th scope="col"> Hour </th>
            </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">Hour </th>
                <td style="--start: 0.0; --size: 0.0"></td>
          </tr>
          <%loopGuard = 60%>
          <%oldFloatdata = Array.new(@sites.length,0.0)%>
          <%while loopGuard > 1%>
          <tr><th scope="row"></th>
            <%graphData.each_with_index do |data,index|%>
            <%dataLoader = data.pop().to_f%>
            <%dataLoader /= 5%>
            <%sitelink = @sites.all%>
            
            <td style="--start: <%="#{oldFloatdata.shift}"%>; --size: <%="#{dataLoader}"%> "></td>
            
           
            <%oldFloatdata.push(dataLoader)%>
            <%end%>
            </tr>
            <%loopGuard-=1%>
          <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- END Graph Monitor Section -->